@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: 16px;
    font-weight: 400;
    font-family: "Lato";
}

#root {
    background-image: url("/assets/images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    //width: 1366px;
    width: 100%;
    height: 768px;

    display: grid;
    place-items: center;
}

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 768px;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    color: #707070;
    font-weight: 300;
    display: grid;
    place-items: center;

    .footer-wrapper {
        max-width: 1920px;
        height: 100%;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        line-height: 1.5;

        .col {
            justify-self: center;
            align-self: center;
        }
    }

    h4 {
        margin-bottom: 12px;
        text-align: center;
    }

    .info > p {
        text-align: left;
    }
    .contacts > p {
        text-align: right;
    }
    .icons {
        display: flex;
        justify-content: center;
        gap: 12px;
    }

    a {
        color: #707070;
        text-decoration: none;

        &:hover {
            color: lighten(#707070, 10%);
        }
    }
}

@media screen and (max-width: 768px) {
    .svg-grey {
        display: none;
    }
    footer {
        .footer-wrapper {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 100%;
            gap: 12px;
            padding-top: 12px;
        }
        .info > p {
            text-align: center;
        }
    }
}
#calculator {
    width: 364px;
    height: 666px;
    border-radius: 4px;
    color: #707070;
    #top {
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        #title {
            border-radius: 14px;
            background-color: #4f79dc;
            color: #fff;
            width: 105px;
            height: 28px;
            display: grid;
            place-items: center;
            margin-left: 24px;
        }
        img {
            width: 19px;
            height: 19px;
            margin-right: 20px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    #input-box {
        width: 364px;
        height: 170px;
        display: flex;
        flex-direction: column;
        padding-right: 24px;

        #prev {
            font-size: 24px;
            text-align: right;
            margin-top: 34px;
        }

        #screen {
            border: none;
            background: transparent;
            font-size: 60px;
            text-align: right;
            color: #707070;
        }
    }

    #buttons {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 10px;
        .grey-btn,
        .blue-btn,
        .dark-blue-btn {
            color: #ffffff;
        }
        .btn {
            display: grid;
            place-items: center;
            font-size: 30px;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            margin: 10px;

            &:hover {
                cursor: pointer;
            }
        }

        #plus-minus > img {
            width: 25px;
            height: 25px;
        }
        #\/ > img,
        #\* > img,
        #\- > img,
        #\+ > img {
            width: 20px;
            height: 20px;
        }
        .svg-white {
            filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(86deg)
                brightness(118%) contrast(119%);
        }
        .transparent-btn {
            font-size: 34px;
        }
    }
}

.light-theme#calculator {
    background-color: #ffffff;
    box-shadow: 0px 3px 14px #00000029;
}

.light-theme#footer {
    background-color: #ffffff;
}

.light-theme > .footer-wrapper {
    background-color: #ffffff;
}

.light-theme {
    #input-box {
        background-color: #ececec;
    }

    .grey-btn {
        background-color: #d2d2d2;
    }

    .blue-btn {
        background-color: #b9d6e3;
    }

    .dark-blue-btn {
        background-color: #4f79dc;
    }
}

.dark-theme#calculator {
    background-color: #1d1d1d;
    box-shadow: 0px 3px 14px #00000029;
}

.dark-theme#footer {
    background-color: #222222;
}

.dark-theme > .footer-wrapper {
    background-color: #222222;
}

.dark-theme {
    #input-box {
        background-color: #222222;
    }

    .grey-btn {
        background-color: rgba(#ececec, 0.1);
    }

    .blue-btn {
        background-color: #4f79dc;
    }

    .dark-blue-btn {
        background-color: #0048f2;
    }
}

.svg-grey {
    filter: invert(46%) sepia(0%) saturate(1245%) hue-rotate(145deg)
        brightness(94%) contrast(86%);
}
